/*Fuentes importadas desde google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

body{
    font-family: 'Roboto Mono', monospace;
    /*resetear las propiedades que el navegador carga por defecto*/
    margin: 0;
    padding: 0;
}


/*****************************/
/* SECCION HEADER FIGURAS.JS */
/*****************************/
    .cabecera {
        width: 100%;
        height: 30%;
        display: grid;
        background-color: #47cfac;
    }
    .cabecera h1 {
        font-family: 'Roboto mono', monospace;
        font-size: 30px;
        font-weight: 700px;
        letter-spacing: 10px;
        color: white;
        text-align: center;
        margin-top: 10px;
    }
    .cabecera p {
        font-size: 20px;
        font-weight: 400px;
        color: white;
        text-align: center;
    }

/***************************/
/* SECCION MAIN FIGURAS.JS */
/***************************/
    .cuadro-fig {
        border: 2px solid rgba(0,0,0,.125);
        padding: 12px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        height: 95%;
    }
    .icono {
        text-align: center;
    }
    .icono img{
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
    }
    .titulo-fig {
        width: 100%;
        background-color: #e6e9ed;
        padding: 10px 10px 10px 10px;
    }
    .input-group {
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .input-group-text {
        width: 120px;
    }
    .derecha {
        text-align: right;
        padding-right: 10px;
    }
    .btn-outline-success {
        width: 100%;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .pie-pagina-fig {
        padding: 15px 15px 15px 15px;
        background-color: #e6e9ed;
        margin-top: 10px;
    }
    .resultados-container {
        display: flex;
        margin: 0;
        padding: 0;
    }
    .resultados-textos {
        font-size: 15px;
        font-weight: 500;
        margin-right: 10px;
    }
    .resultados-numeros {
        font-size: 15px;
        display: inline;
    }

/*****************************/
/* SECCION FOOTER FIGURAS.JS */
/*****************************/
    footer {
        width: 100%;
        height: 90px;
        background-color: #22272d;
        text-align: center;
    }
    footer p {
        color: white;
        padding-top: 15px;
    }


/********************************/
/* SECCION HEADER DESCUENTOS.JS */
/********************************/
    .cabecera-desc {
        width: 100%;
        height: 40%;
        display: grid;
        background-color: #132796;
    }
    .cabecera-desc h1 {
        font-family: 'Roboto mono', monospace;
        font-size: 35px;
        font-weight: 700px;
        letter-spacing: 5px;
        color: white;
        text-align: center;
        margin-top: 10px;
    }
    .cabecera-desc p {
        font-size: 20px;
        font-weight: 400px;
        color: white;
        text-align: center;
    }

/******************************/
/* SECCION MAIN DESCUENTOS.JS */
/******************************/
    .cuadro-desc {
        border: 2px solid rgba(0,0,0,.125);
        padding: 15px;
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 5px;
        height: 93%;
    }
    .titulo-desc {
        width: 100%;
        background-color: #e6e9ed;
        padding: 10px 10px 10px 10px;
        text-align: center;
    }
    .textos-desc {
        padding: 8px 10px 8px 10px;
    }
    .input-desc {
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .btn-primary {
        width: 100%;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .pie-pagina-desc {
        padding: 15px 15px 15px 15px;
        background-color: #e6e9ed;
        margin-top: 10px;
    }
/********************************/
/* SECCION FOOTER TALLER3 */
/********************************/
.cabecera-taller3 {
    width: 100%;
    height: 40%;
    display: grid;
    background-color: #e608a3de;
}
.cabecera-taller3 h1 {
    font-family: 'Roboto mono', monospace;
    font-size: 30px;
    font-weight: 700px;
    letter-spacing: 10px;
    color: white;
    text-align: center;
    margin-top: 10px;
}
.cabecera-taller3 p {
    font-size: 20px;
    font-weight: 400px;
    color: white;
    text-align: center;
}
.cuadro-taller3 {
    border: 2px solid rgba(0,0,0,.125);
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    height: 93%;
}
.titulo-taller3 {
    width: 100%;
    background-color: #e6e9ed;
    padding: 10px 10px 10px 10px;
    text-align: center;
}
.textos-taller3 {
    padding: 8px 10px 8px 10px;
}
.input-taller3 {
    margin-top: 5px;
    margin-bottom: 10px;
}
.btn-outline-primary {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.pie-pagina-taller3 {
    padding: 10px 10px 10px 10px;
    background-color: #e6e9ed;
    margin-top: 8px;
}
.resultados-taller3 {
    display: flex;
    margin: 0;
    padding: 0;
}

/********************************/
/* SECCION DESAFIOS.HTML */
/********************************/
.cabecera-desa {
    width: 100%;
    height: 40%;
    display: grid;
    background-color: #8f0808;
}
.cabecera-desa h1 {
    font-family: 'Roboto mono', monospace;
    font-size: 35px;
    font-weight: 700px;
    letter-spacing: 5px;
    color: white;
    text-align: center;
    margin-top: 10px;
}
.cabecera-desa p {
    font-size: 20px;
    font-weight: 400px;
    color: white;
    text-align: center;
}
.div-separacion {
    text-align: center;
    align-items: center;
}
.linea-separacion{
    background-color: #030000;
    height: 3px;
    max-width: 100%;
    margin-top: 20px;
}
.imagen-formula {
    width: 100%;
}
/*
.input-group-text {
    width: 25px;
}
*/
.fila-notas {
    padding-top: 5px;
    padding-bottom: 5px;
}
.bajar-size {
    font-size: 14px;
}
.reparar-espacio > p {
    margin-bottom: 30px;
}


/********************************/
/* SECCION SALARIOS.HTML */
/********************************/
.cabecera-sal {
    width: 100%;
    height: 30%;
    display: grid;
    background-color: #6b190ad3;
}
.cabecera-sal h1 {
    font-family: 'Roboto mono', monospace;
    font-size: 30px;
    font-weight: 700px;
    letter-spacing: 10px;
    color: white;
    text-align: center;
    margin-top: 10px;
}
.cabecera-sal p {
    font-size: 20px;
    font-weight: 400px;
    color: white;
    text-align: center;
}



/**************************
MEDIA QUERIES
**************************/
@media (max-width: 770px) {
    .reparar-espacio > p {
        padding-bottom: 40px;
    }
}