/*=====================================
==ESTILOS PARA FIGURAS.HTML==
=====================================*/

@media (max-width: 900px) {
    
    .figuras-container .calculos-container {
        max-width: 40%;
    }
}

@media (max-width: 660px) {
    .figuras-container .calculos-container {
        max-width: 95%;
    }
}

/*=====================================
==ESTILOS PARA DESAFIOS.HTML==
=====================================*/
@media (max-width: 770px) {
    .reparar-espacio > p {
        padding-bottom: 40px;
    }
}